$orange: #e3474b;
$darkGrey: #dcdcdc;
$lightGrey: #e8e8e8;
$gold: #e7c169;
$brown: #836110;
$darkGold: #eebc1d;
$lightRed: #e3474b;
$bodyColor: #f4f0ec;

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f0ec;
}

.main-page {
  &__header {
    width: 100%;
    height: 65px;
    background: #fff;

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
      padding-left: 30px;
    }
    img {
      width: 27%;
    }
    &__authorization {
      display: flex;
    }
    &__btn-reg {
      width: 167px;
      height: 60px;
      padding: 0 30px;
      display: block;
      color: $orange;
      min-width: 110px;
      margin-right: 1px;
      font-size: 16px;
      line-height: 60px;
      font-weight: 500;
      border: 1px solid $lightGrey;
      background: $lightGrey;
      text-decoration: none;
      transition-duration: 0.3s;
      &:hover {
        background-color: $darkGrey;
        cursor: pointer;
      }
    }
    &__btn-log {
      width: 137px;
      height: 60px;
      padding: 0 30px;
      display: block;
      color: $orange;
      min-width: 110px;
      font-size: 16px;
      line-height: 60px;
      font-weight: 500;
      border: 1px solid $lightGrey;
      background: $lightGrey;
      text-decoration: none;
      &:hover {
        background-color: $darkGrey;
        cursor: pointer;
      }
    }
  }
}

.subscription {
  width: 87%;
  height: 529px;
  margin-top: 150px;
  margin-left: 97px;
  box-shadow: 0px 4px 16px 3px rgba(34, 60, 80, 0.26);
  &__container {
    display: flex;
    align-items: center;
    padding-left: 11%;
    background: white;
    padding-bottom: 60px;
  }
  &__content {
    width: 74%;
  }
  &__title {
    padding-top: 77px;
    font-weight: bold;
    font-size: 46px;
    line-height: 55px;
    padding-bottom: 40px;
  }
  &__title strong {
    color: $gold;
  }
  &__text {
    font-size: 20px;
    line-height: 34px;
    position: relative;
    padding-bottom: 30px;
  }
  &__image {
    img {
      max-width: 78.8%;
      padding-top: 100px;
      padding-left: 49px;
    }
  }
  &__line {
    width: 8px;
    height: 112px;
    top: 107%;
    left: 15%;
    position: absolute;
    background: $gold;
  }
  &__btn {
    display: inline-block;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    padding: 10px 16px;
    color: $brown;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid $darkGold;
    background-color: $darkGold;
    &:hover {
      cursor: pointer;
      background-color: #f7de8e;
      transition-duration: 0.3s;
    }
  }
  &__sponsors {
    display: flex;
    background: $gold;
    padding: 20px;
    padding-left: 67px;
    box-shadow: 0px 10px 19px -3px rgba(34, 60, 80, 0.2) inset;
    img {
      width: 77%;
    }
  }
}

.slider {
  width: 100%;
  margin-top: 180px;
  &__cards {
    overflow-x: scroll;
  }
  &__card {
    margin-left: 30px;
    border: 1px solid $darkGrey;
    transition-duration: 0.15s;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 17px 8px rgba(34, 60, 80, 0.2);
    }
  }
  &__item {
    display: flex;
  }
  &__title {
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 20px;
  }
  &__description {
    padding-top: 10px;
    padding-left: 10px;
  }
}

.collection {
  margin-top: 120px;
  width: 100%;
  &__section {
  }
  &__headerLeft {
    width: 89%;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    background-color: $lightRed;
  }
  &__title strong {
    padding-left: 8px;
    font-size: 50px;
    color: white;
  }
  &__title {
    padding-left: 15px;
    font-weight: bold;
    font-size: 27px;
    color: white;
  }
  &__title span {
    padding-left: 23px;
  }
  &__content {
    display: flex;
    width: 89%;
    height: 480px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border: 1 px solid black;
  }
  &__contentLeft {
    width: 49%;
    font-size: 19px;
    padding-left: 24px;
    padding-top: 27px;
    line-height: 27px;
    text-align: left;
    span {
      font-size: 17px;
    }
  }
  &__contentLeft strong {
    font-size: 17px;
  }
  &__textPrice {
    font-size: 17px;
    line-height: 23px;
    text-align: left;
  }
  &__advantage {
    margin-left: 3%;
    transition: 0.15s;
    &:hover {
      cursor: pointer;
      margin-left: 0%;
    }
  }
  &__conditions {
    padding-top: 50px;
    padding-right: 67px;
  }
  &__contentC {
    display: flex;
  }
  &__imgTitle {
    text-align: center;
  }
  &__imgWrapper {
    img {
      padding-left: 97px;
      width: 64%;
    }
  }
  &__buttonWrap {
    padding-top: 20px;
    padding-left: 62px;
    button {
      width: 75%;
      padding: 5px;
      font-size: 22px;
      font-weight: bold;
      background: #e3474b;
      border-radius: 6px;
      border: 1px solid $lightRed;
      color: white;
    }
    p {
      padding-top: 8px;
      padding-left: 100px;
      font-weight: bold;
      font-size: 16px;
    }
  }

  &__advantages {
    position: relative;
  }
  &__item1{
    display: flex;
    position: absolute;
  }
  &__image1{
    position: relative;
    top: 0;
    &:nth-child(2){
      left: -10%;
    }
    &:nth-child(3){
      left: -20%;
    }
    &:nth-child(4){
      left: -30%;
    }
    img{
      width: 80%;
    }
  }
  &__advantages-bottom{
    position: relative;
    display: flex;
    margin-top: 300px;
  }
  &__item2{
     //position: absolute;
  }
  &__image2{
    position: relative;
    top: 0;
    &:nth-child(2){
      left: -10%;
    }
    &:nth-child(3){
      left: -20%;
    }
    &:nth-child(4){
      left: -30%;
    }
    img{
      width: 80%;
    }
  }
}
