$orange: #e3474b;
$darkGrey: #dcdcdc;
$lightGrey: #e8e8e8;
$gold: #e7c169;
$brown: #836110;
$darkGold: #eebc1d;
$lightRed: #e3474b;
$bodyColor: #f4f0ec;

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f0ec;
}

.main-page {
  &__header {
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed;
    z-index: 1;

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
      padding-left: 30px;
    }
    img {
      width: 27%;
    }
    &__authorization {
      display: flex;
    }
    &__btn-reg {
      width: 167px;
      height: 60px;
      padding: 0 30px;
      display: block;
      color: $orange;
      min-width: 110px;
      margin-right: 1px;
      font-size: 16px;
      line-height: 60px;
      font-weight: 500;
      border: 1px solid $lightGrey;
      background: $lightGrey;
      text-decoration: none;
      transition-duration: 0.3s;
      &:hover {
        background-color: $darkGrey;
        cursor: pointer;
      }
    }
    &__btn-log {
      width: 137px;
      height: 60px;
      padding: 0 30px;
      display: block;
      color: $orange;
      min-width: 110px;
      font-size: 16px;
      line-height: 60px;
      font-weight: 500;
      border: 1px solid $lightGrey;
      background: $lightGrey;
      text-decoration: none;
      &:hover {
        background-color: $darkGrey;
        cursor: pointer;
      }
    }
  }
  &__q-pa-md{
    padding-top: 60px;
  }
}

.subscription {
  width: 87%;
  height: 529px;
  margin-top: 127px;
  margin-left: 97px;
  box-shadow: 0px 4px 16px 3px rgba(34, 60, 80, 0.26);
  &__container {
    display: flex;
    align-items: center;
    padding-left: 11%;
    background: white;
    padding-bottom: 60px;
  }
  &__content {
    width: 74%;
  }
  &__title {
    padding-top: 77px;
    font-weight: bold;
    font-size: 46px;
    line-height: 55px;
    padding-bottom: 40px;
  }
  &__title strong {
    color: $gold;
  }
  &__text {
    font-size: 20px;
    line-height: 34px;
    position: relative;
    padding-bottom: 30px;
  }
  &__image {
    img {
      max-width: 78.8%;
      padding-top: 100px;
      padding-left: 49px;
    }
  }
  &__line {
    width: 8px;
    height: 112px;
    top: 102%;
    left: 15%;
    position: absolute;
    background: $gold;
  }
  &__btn {
    display: inline-block;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    padding: 10px 16px;
    color: $brown;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid $darkGold;
    background-color: $darkGold;
    &:hover {
      cursor: pointer;
      background-color: #f7de8e;
      transition-duration: 0.3s;
    }
  }
  &__sponsors {
    display: flex;
    background: $gold;
    padding: 20px;
    padding-left: 67px;
    box-shadow: 0px 10px 19px -3px rgba(34, 60, 80, 0.2) inset;
    img {
      width: 77%;
    }
  }
}

.slider {
  width: 100%;
  margin-top: 180px;
  &__cards {
    overflow-x: scroll;
  }
  &__container {
    padding-right: 99px;
    padding-left: 66px;
  }
  &__card {
    margin-left: 30px;
    border: 1px solid $darkGrey;
    transition-duration: 0.15s;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 13px 1px rgba(34, 60, 80, 0.2);
    }
    li {
      list-style-type: none;
    }
  }
  &__item {
    display: flex;
    margin-bottom: 49px;
  }
  &__title {
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 20px;
  }
  &__description {
    padding-top: 10px;
    padding-left: 10px;
  }
}

.collection {
  margin-top: 150px;
  width: 90%;
  margin: auto;
  box-shadow: 0px -2px 33px 3px rgba(34, 60, 80, 0.2);
  &__section {
    margin-top: 150px;
  }
  &__headerLeft {
    width: 100%;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    background-color: $lightRed;
  }
  &__title strong {
    padding-left: 8px;
    font-size: 50px;
    color: white;
  }
  &__title {
    padding-left: 15px;
    font-weight: bold;
    font-size: 27px;
    color: white;
  }
  &__title span {
    padding-left: 23px;
  }
  &__content {
    display: flex;
    width: 100%;
    height: 480px;
    background: white;
    margin-left: auto;
    margin-right: auto;
  }
  &__seriesTop {
    width: 45%;
  }
  &__contentLeft {
    width: 55%;
    font-size: 19px;
    padding-left: 24px;
    padding-top: 27px;
    line-height: 27px;
    text-align: left;
    span {
      font-size: 17px;
    }
  }
  &__contentLeft strong {
    font-size: 17px;
  }
  &__textPrice {
    font-size: 17px;
    line-height: 23px;
    text-align: left;
  }
  &__conditions {
    padding-top: 50px;
    padding-right: 67px;
  }
  &__contentC {
    display: flex;
  }
  &__imgTitle {
    text-align: center;
  }
  &__imgWrapper {
    img {
      padding-left: 110px;
      width: 64%;
    }
  }
  &__buttonWrap {
    padding-top: 20px;
    padding-left: 62px;
    button {
      width: 75%;
      padding: 5px;
      font-size: 22px;
      font-weight: bold;
      background: #e3474b;
      border-radius: 6px;
      border: 1px solid $lightRed;
      color: white;
    }
    p {
      padding-top: 8px;
      padding-left: 100px;
      font-weight: bold;
      font-size: 16px;
    }
  }

  &__advantages {
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 6%;
  }
  &__item1 {
    display: flex;
    position: absolute;
  }
  &__image1 {
    position: relative;
    top: -51px;
    margin-left: 0%;
    transition-duration: 0.35s;
    &:hover {
      cursor: pointer;
      margin-left: 2%;
    }
    &:nth-child(2) {
      left: -2%;
      top: -41px;
    }
    &:nth-child(3) {
      left: -4%;
      top: -31px;
    }
    &:nth-child(4) {
      left: -6%;
      top: -20px;
    }
    img {
      width: 125px;
      height: 180px;
    }
  }
  &__advantages-bottom {
    position: relative;
    display: flex;
    justify-content: flex-end;
    //margin-top: 300px;
    top: 64px;
    left: 6%;
  }
  // &__item2 {
  //   //position: absolute;
  // }
  &__image2 {
    position: relative;
    top: -51px;
    margin-left: 0%;
    transition-duration: 0.35s;
    &:hover {
      cursor: pointer;
      margin-left: 2%;
    }
    &:nth-child(2) {
      left: -2%;
      top: -41px;
    }
    &:nth-child(3) {
      left: -4%;
      top: -31px;
    }
    &:nth-child(4) {
      left: -6%;
      top: -20px;
    }
    img {
      width: 125px;
      height: 180px;
    }
  }
  &__shelf2 {
    img {
      width: 100%;
      padding-left: 87px;
    }
  }
}

.ongoings {
  width: 100%;
  margin-top: 119px;
  &__cards {
    overflow-x: scroll;
  }
  &__container {
    padding-right: 99px;
    padding-left: 66px;
  }
  &__card {
    margin-left: 30px;
    border: 1px solid $darkGrey;
    transition-duration: 0.15s;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 13px 1px rgba(34, 60, 80, 0.2);
    }
    li {
      list-style-type: none;
    }
  }
  &__item {
    display: flex;
    margin-bottom: 49px;
  }
  &__title {
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 20px;
  }
  &__description {
    padding-top: 10px;
    padding-left: 10px;
  }
}

.romantic {
  width: 100%;
  margin-top: 119px;
  &__cards {
    overflow-x: scroll;
  }
  &__container {
    padding-right: 99px;
    padding-left: 66px;
  }
  &__card {
    margin-left: 30px;
    border: 1px solid $darkGrey;
    transition-duration: 0.15s;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 13px 1px rgba(34, 60, 80, 0.2);
    }
    li {
      list-style-type: none;
    }
  }
  &__item {
    display: flex;
    margin-bottom: 49px;
  }
  &__title {
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 20px;
  }
  &__description {
    padding-top: 10px;
    padding-left: 10px;
  }
}

.aboutUs {
  margin-top: 130px;
  width: 100%;
  background: #fff;
  padding: 40px 0;
  color: #000;
  &__container {
    padding-right: 90px;
    padding-left: 90px;
  }
  &__title {
    margin-left: -40px;
    display: block;
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e3474b;
    margin-bottom: 30px;
  }
  &__subtitle {
    font-size: 19px;
    line-height: 25px;
    font-weight: 700;
  }
  &__text {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 20 px;
  }
}

.footer {
  overflow: hidden;
  background-color: #090909;
  color: #fff;
  z-index: 3;
  &__container {
    padding-right: 90px;
    padding-left: 90px;
  }
  &-main {
    &__grid {
      display: flex;
      font-size: 0;
      opacity: 0.4;
      padding: 80px 0;
      letter-spacing: normal;
    }
    &__item {
      // display: inline-block;
      vertical-align: top;
      width: 16.6666666667%;
      font-size: 12px;
      padding-right: 15px;
    }
    &__title {
      font-weight: bold;
      font-size: 16px;
    }
    &__hr {
      opacity: .3;
      margin: 0;
      height: 1px;
      border: 0;
      border-top: 1px solid #cdcdcd;
    }
    &__bottom{
      display: flex;
      padding-top: 15px;
      justify-content: space-between;
    }
    &__logo{
      opacity: .7;
      img{
        width: 20%;
      }
    }
    &__copy{
      opacity: .4;
      font-size: 12px;
    }
  }
  li {
    list-style-type: none;
  }
}
 
@media (max-width: 1024px){
  .main-page {
    &__header {
      &__btn-reg {
        padding: 0 30px;
        min-width: 110px;
      } 
    }
  }


  .subscription {
    margin-left: 68px;
    &__container {
      display: flex;
      flex-direction: column;
      padding-left: 6%;
    }
    &__content {
      width: 100%;
    }
    &__title {
      font-size: 30px;
      line-height: 36px;
      padding-bottom: 30px;
    }
    &__text {
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 30px;
    }
    &__image {
      img {
        max-width: 73%;
        padding-top: 45px;
        padding-left: 146px;
      }
    }
    &__line {
      height: 75px;
      top: 45%;
      left: 10%;
    }
    &__btnWrapper {
      margin-left: 146px;
    }
  }
}


